<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome to File Compression</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input required accept=".txt" type="file" name="textFile" id="file" />
      <br />
      <br />
      <button type="submit">Submit</button>
    </form>
    <br />
    <br />
    <% if (outputPath) { %>
    <button>
      <a href="<%= outputPath%>" download="download-file.txt">Download</a>
    </button>
    <% } %>
  </body>
</html>
